$primary-color:#04BE02;
$danger-color:#EF4F4F;
$warning-color:#FFB400;
$disabled-color:#CCC;
$default-color:#FFF;
$info-color:#46b8da;

@import "mixins";

$border-width:2px;
$border:$border-width solid blue;
nav{
    $width:100px;
    border:$border;
    width: $width;
}

.btn{
    position: relative;
    display: block;
    padding: 0 .2rem;
    width: 100%;
    height: 1.5rem;
    line-height: 1.5rem;
    border: none;
    font-size: 0.45rem;
    text-align: center;
    pointer-events: auto;
    cursor: pointer;
    @include border-radius(.1rem);
}

