$primary-color:#04BE02;
$danger-color:#EF4F4F;
$warning-color:#FFB400;
$disabled-color:#CCC;
$default-color:#FFF;
$info-color:#46b8da;

$primary-active:#04ab02;
$danger-active:#d74747;
$warning-active:#e6a200;
$disabled-active:#b8b8b8;
$default-active:#e6e6e6;
$info-active:#31b0d5;


$f-color:#FFF;
$disabled:#F0F0F0;

@import "mixins";

$border-width:2px;
$border:$border-width solid blue;

@import "button","dialog";




