@mixin border-radius($radius){
            border-radius: $radius;
        -ms-border-radius: $radius;
       -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    -webkit-appearance: none;
}
@mixin box-sizing($type){
            box-sizing: $type;
       -moz-box-sizing: $type;
    -webkit-box-sizing: $type;
}
@mixin clearfix(){
    &:before,
    &:after{
        content:'';
        display:block;
        clear:both;
    }
}
@mixin animation($name, $duration: 1000ms, $iterations: infinite, $timing-function: ease, $delay: 0ms) {
          animation: $name $duration $iterations $timing-function $delay;
       -o-animation: $name $duration $iterations $timing-function $delay;
     -moz-animation: $name $duration $iterations $timing-function $delay;
  -webkit-animation: $name $duration $iterations $timing-function $delay;
}
@mixin transition($property,$duration,$function){
            transition: $property $duration $function;
         -o-transition: $property $duration $function;
       -moz-transition: $property $duration $function;
    -webkit-transition: $property $duration $function;
}
@mixin transform($transform){
            transform: $transform;
         -o-transform: $transform;
       -moz-transform: $transform;
    -webkit-transform: $transform;
}

