@charset "UTF-8";
/**
 *dialog 弹出框
 **/
/* line 8, ../sass/dialog.scss */
.mask-black-dialog {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1500;
}

/* line 27, ../sass/dialog.scss */
.m-confirm {
  width: 70%;
  background-color: #FAFAFA;
  font-size: 0.5rem;
  animation: zoomIn 0.15s forwards ease 0;
  -o-animation: zoomIn 0.15s forwards ease 0;
  -moz-animation: zoomIn 0.15s forwards ease 0;
  -webkit-animation: zoomIn 0.15s forwards ease 0;
}
/* line 32, ../sass/dialog.scss */
.m-confirm .confirm-header {
  text-align: left;
  padding: .4rem .8rem;
}
/* line 35, ../sass/dialog.scss */
.m-confirm .confirm-header .header-title {
  font-weight: normal;
  color: #444;
  word-break: break-all;
  font-size: 0.5rem;
}
/* line 42, ../sass/dialog.scss */
.m-confirm .confirm-body {
  text-align: left;
  padding: 0 .8rem;
  font-size: 0.5rem;
  color: #888;
  line-height: .8rem;
  word-break: break-all;
}
/* line 50, ../sass/dialog.scss */
.m-confirm .confirm-body.alert {
  text-align: center;
  padding: .6rem .6rem .3rem .6rem;
}
/* line 54, ../sass/dialog.scss */
.m-confirm .confirm-foot {
  position: relative;
  line-height: 1.6rem;
  margin-top: .3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 59, ../sass/dialog.scss */
.m-confirm .confirm-foot > a {
  position: relative;
  text-align: center;
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0 2px;
  font-size: .6rem;
}
/* line 67, ../sass/dialog.scss */
.m-confirm .confirm-foot > a.confirm-btn.default {
  color: #353535;
}
/* line 70, ../sass/dialog.scss */
.m-confirm .confirm-foot > a:not(:last-child):after {
  content: '';
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  height: 100%;
  border-right: 1px solid #D9D9D9;
  transform: scaleX(0.5);
  -o-transform: scaleX(0.5);
  -moz-transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

/* line 84, ../sass/dialog.scss */
.m-toast {
  min-width: 3rem;
  max-width: 80%;
  padding-top: .5rem;
  background: rgba(40, 40, 40, 0.8);
  text-align: center;
  color: #FFF;
  z-index: 1501;
  animation: zoomIn 6s forwards ease 0ms;
  -o-animation: zoomIn 6s forwards ease 0ms;
  -moz-animation: zoomIn 6s forwards ease 0ms;
  -webkit-animation: zoomIn 6s forwards ease 0ms;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-moz-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@-ms-keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}
